body {
  margin: 0;
  font-family: 'VT323', monospace !important;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(255,240,230) !important;
  color: rgba(122,78,38) !important;
  font-size: 1.4em !important;
  filter: saturate(1);
}
::selection {
  background: #ecb27c !important;
  
}

.highl{
  color: rgba(255,148,10) !important;
  
}



.highl2{
  color: rgba(255,148,10) !important;
  font-size: 3em;
  margin-top: 80px;
  text-shadow: 2px 2px 4px #000000;
}

@media (max-width: 30em) {
  .highl2{
    font-size: 1.9em;
  }
}


.textt{
  font-size: 2.1vh;
  
}

.btns{
  margin-bottom: 60px;
}





.secondnav{
  padding-right: 45px;
  font-size: 1.2em;
  margin-top: 25px;

}


.port{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 30px;
  
}

@media (max-width: 30em) {
  .port{
    width: 150px !important;
  }
}

.road{

  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 700px !important;
  
}

.infoc{
  margin-bottom: 50px;
}

.img1{
  display: block;
  margin-left: auto;
  margin-right: auto
}


.tit{
  color: rgba(122,78,38) !important;
  font-size: 1.3em;
 
}
.nav-item{
  font-size: 0.8em;
  
  
}

.tit2{
  
  color: #f06543 !important;
  color: white;
  text-shadow: 1px 1px  red;
}


h3{
  padding-top:30px;
}


.main{

  background-attachment: fixed;
  background-position: center;
}

.titlech{
  color: #f09d51;
  font-size: 3.5em;
  padding-top: -200px;
  text-shadow: 2px 2px 4px #000000;
}

@media (max-width: 30em) {
  .titlech{
    font-size: 1.9em;
  }
}

a {
  color: #f09d51;
}



.titlesec{
  margin-top: -90px;
  font-size: 2.6em;
}


.btn{
  width: 200px;
  margin-bottom: 40px;
  margin-top: 20px;
  font-size: .9em !important;
}

@media (max-width: 30em) {
  .btn{
    font-size: 1em !important;
    margin-bottom: 15px;
  }
}

.btn1{
  background-color:#f09d51 !important;
 
}

.footerc{ 
  margin-top: 60px;
}

.gallery{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}


.linkrag{
  color: Brown;
  text-decoration: none;
}

.section{

  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
  transition: all 1s;
}


.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.imgworks{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px !important;
  box-shadow: 2px 2px 4px #000000;
}


.titleWork{
  padding-bottom: 1.5em;
}

a{
  text-decoration: none !important;
  color: rgba(43, 21, 0, 0.962) !important;
}

.textauth{
margin-left: 1000px;
}

.hidden2{
  transition-delay: 400ms;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 30em) {
  .textauth{
    margin-left: 250px;
  }
}